.container {
  max-width: 960px;
  margin: 50px 0;
  display: block;
}

.results__nothing {
  margin: 20px 0;
  padding: 20px 10px;
  color: #8d3126;
  background-color: #f5dfde;
  border: 1px solid #d8c6c5;
}

.search {
  display: flex;
  align-items: center;
}

.search__button {
  height: 45px;
  margin-left: 5px;
}

.search__input {
  height: 40px;
}

.wrapper {
  display: flex;
  justify-content: center;
}
