body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 960px;
  margin: 50px 0;
  display: block;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.repos__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.repos__containerForks {
  display: flex;
  margin: 0 20px;
}

.repos__containerStars {
  display: flex;
}

.repos__counter {
  margin-right: 2px;
}

.repos__head {
  font-size: 24px;
  padding: 15px 0;
  border-bottom: 2px solid #ccc;
}

.repos__icon {
  width: 20px;
  height: 20px;
}

.repos__item {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 10px;
  border-bottom: 1px solid #ccc;
}

.repos__item:last-child {
  border: none;
}

.repos__name {
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__button {
  height: 45px;
  margin-left: 5px;
}

.search__input {
  height: 40px;
}

.user {
  margin: 20px 0;
}

.user__avatar {
  display: flex;
  position: relative;
  max-width: 100px;
  height: 100px;
}

.user__bio {
}

.user__container {
  display: flex;
  width: 500px;
  align-items: center;
}

.user__fullName {
  font-size: 32px;
  margin: 10px 0;
  font-weight: bold;
}

.user__login {
  font-style: italic;
}

.user__info {
  display: block;
  margin: 20px 10px;
}

.user__nothing {
  margin: 20px 0;
  padding: 20px 10px;
  color: #8d3126;
  background-color: #f5dfde;
  border: 1px solid #d8c6c5;
}

.wrapper {
  display: flex;
  justify-content: center;
}
