.container {
  max-width: 960px;
  margin: 50px 0;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.user__nothing {
  margin: 20px 0;
  padding: 20px 10px;
  color: #8d3126;
  background-color: #f5dfde;
  border: 1px solid #d8c6c5;
}

.search {
  display: flex;
  align-items: center;
}

.search__button {
  height: 45px;
  margin-left: 5px;
}

.search__input {
  height: 40px;
}

.user {
  margin: 20px 0;
}

.user__avatar {
  display: flex;
  position: relative;
  max-width: 80px;
  height: 80px;
}

.user__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__info {
  display: block;
}

.wrapper {
  display: flex;
  justify-content: center;
}
